---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/roboto';
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UFABC Rocket Design</title>
</head>
<body>
  <Navbar title="UFABC ROCKET DESIGN"/>

  <div class="stars-container">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
  </div>

  <main>
    <slot />
  </main>

  <Footer />
</body>
</html>

<style is:global lang="scss">
  @use "sass:math";
  @use "sass:string";

  // Reset 
  *, *::before, *::after {
    box-sizing: border-box;
  }

  *:not(dialog) {
    margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  #root, #__next {
    isolation: isolate;
  }
  //

  body {
    font-family: 'Roboto Variable', sans-serif !important;
    color: white;
    background-color: black;
  }

  /* 
  - Made by sarazond 
  - https://codepen.io/sarazond/pen/LYGbwj?editors=0100
  */

  .stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }

  $area-covered: 6000;
  $star-color: #ffffff;

  @function create-stars($number) {
    $value: '#{math.random($area-covered)}px #{math.random($area-covered)}px #{$star-color}';
    @for $i from 2 through $number {
      $value: '#{$value}, #{math.random($area-covered)}px #{math.random($area-covered)}px #{$star-color}';
    }
    @return string.unquote($value);
  }

  #stars  { box-shadow: create-stars(2000); width: 1px; height: 1px; animation: starmove 100s linear infinite; }
  #stars2 { box-shadow: create-stars(1000); width: 2px; height: 2px; animation: starmove 150s linear infinite; }
  #stars3 { box-shadow: create-stars(500); width: 3px; height: 3px; animation: starmove 200s linear infinite; }

  @keyframes starmove {
    from { transform: translateY(0); }
    to   { transform: translateY(-4000px); }
  }
</style>